*{
  padding: 0;
  margin: 0;
}

body{
  background-color: beige;
}

.adjust-nav-items{
  margin: 0 30px;
  color: #777b7f;
}

.adjust-nav-items:hover{
  text-decoration: none;
  color: #777b7f;
}

.active{
  border-bottom: 1px solid #777b7f; 
}

